/*-- scss:defaults --*/
// Colors
$link-color: #ff8811;
$body-bg: #ffffff !default;
$body-color: #000000 !default;
$background-color: #fffbfb;

// Fonts
$font-family-sans-serif: "Garamond", "EB Garamond", "Palatino Linotype", "Book Antiqua", Palatino, serif !default;
$font-family-monospace: "Courier New", Courier, monospace !default;

// Font Sizes
$h1-size: 70px;
$h2-size: 60px;
$h3-size: 45px;
$h4-size: 40px;
$base-font-size: 25px;
$footer-font-size: 14pt;
$aside-font-size: 14pt;

/*-- scss:rules --*/

// Custom styling for bold and italic text
strong {
  color: #ff8811;
}

em {
  color: #3e2f5b;
}

// CENTER ALL SLIDES (except title slide)
.reveal .slides section:not(#title-slide) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

// Center images horizontally
.reveal .slides section:not(#title-slide) img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

// Title slide styles with white text
#title-slide {
  color: white !important;
  text-align: left;
  justify-content: flex-start !important; // Override centring for title slide
  
  .title, h1.title {
    font-family: $font-family-sans-serif;
    font-size: $h2-size;
    font-weight: normal;
    color: white !important;
  }
  
  .subtitle,
  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    color: white !important;
  }
  
  .author, .quarto-title-author-name {
    color: white !important;
  }
  
  .quarto-title-authors {
    display: flex;
    justify-content: left;
    
    .quarto-title-author {
      padding: 0;
      width: 100%;
    }
  }
  
  p.author::before, div.quarto-title-author::before {
    content: "";
    display: block;
    background-color: white;
    height: 3px;
    margin-bottom: 1em;
  }
}

// Heading styles
h1, h2, h3, h4, h5, h6,
h1.title, h2.title, h3.title, h4.title {
  color: #004d40;
}

.title-slide h1, .title-slide h2, .title-slide h3,
#title-slide h1, #title-slide h2, #title-slide h3 {
  color: white !important;
}

h1.title { font-size: $h1-size; }
h2.title { font-size: $h2-size; }
h3.title { font-size: $h3-size; }
h4.title { font-size: $h4-size; }

// Content slide font sizes and heading colors
// REMOVED display/layout properties from here
.reveal .slides section:not(#title-slide) {
  font-size: $base-font-size;
  
  p, li, ul, ol, code, table, blockquote {
    font-size: $base-font-size;
    color: $body-color;
  }
  
  h1, h2, h3, h4, h5, h6 { 
    color: #004d40;
  }
  
  h1 { font-size: $h1-size; }
  h2 { font-size: $h2-size; }
  h3 { font-size: $h3-size; }
  
  h1, h2, h3 {
    margin-bottom: 1em;
  }
}

// Image and logo styling
.picture {
  border: 3pt solid #004d40;
  border-radius: 50%;
  padding: 5pt;
  height: 50%;
  width: auto;
}

.slide-logo {
  position: fixed;
  top: 10px;
  right: 50px;
  max-height: 15%;
  height: 100%;
  width: auto;
  color: #004d40;
  display: block;
}

// Footer
footer {
  background-color: white;
  color: $link-color;
  font-size: $footer-font-size;
  padding: 0.5em;
}

// References and footnotes
.csl-entry {
  padding-bottom: 0.5em;
}

ol.aside-footnotes {
  color: $link-color;
  padding-top: 3em;
  font-size: $aside-font-size;
}

// Code output containers
.reveal pre.sourceCode code,
div.cell-output.cell-output-stdout {
  max-height: 800px;
}

// Links
.reveal a {
  color: $link-color;
}

// Callout boxes
.callout-tip {
  background-color: #fff;
  border-left: 6px solid #004d40;
  color: #004d40;
}

.callout-tip .callout-header {
  background-color: #004d40;
  color: white;
  font-weight: bold;
}

.experiment-table {
  font-size: 0.45em;
  line-height: 1.1;
  
  td {
    vertical-align: top;
    padding: 4px;
    border: 1px solid #ddd;
  }
}